.table-id {
    width: 5%;
}

.table-amount {
    width: 45%;
}

.table-time {
    width: 20%;
}

.table-income {
    width: 15%;
}

.table-charge {
    width: 15%;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 75%;
}

td {
    text-align: center;
}
td.table-amount-I {
    background-color: greenyellow;
}

td.table-amount-C {
    background-color: orangered;
}

.table-header.table-amount,
.table-header.table-id,
.table-header.table-charge,
.table-header.table-income,
.table-header.table-time{
    background-color: cornflowerblue;
    font-weight: bold;
}

#input-form {
    margin-bottom: 10px;
}




