<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimoFinance Overview</title>
    <script src="/js/jquery-3.6.0.js" type="text/javascript"></script>
</head>
    <body>
        <div id="input-form">
            <span>
                <label for="typeSe">
                <select name="typeSe" id="typeSe">
                    <!--                    script-->
                </select>
                </label>
                <label for="amount">
                    <input type="number" id="amount" placeholder="amount" name="amount">
                </label>
                <label for="time">
                    <select name="time" id="time">
                        <!--                    script-->
                    </select>
                </label>
                <button type="submit" onclick="createRecord(typeSe.value,amount.value,time.value)">Submit!</button>
            </span>
        </div>
        <div id="records-table">
            <table id="table" class="table">
                <tr>
                    <td class="table-header table-id">ID</td>
                    <td class="table-header table-time">Time</td>
                    <td class="table-header table-amount">Amount</td>
                    <td class="table-header table-income">Income</td>
                    <td class="table-header table-charge">Charge</td>
                </tr>
            </table>
        </div>
        <script src="/js/tf_main.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/css/main.css" />
    </body>
</html>
