<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimoFinance Overview</title>
    <script src="/js/jquery-3.6.0.js" type="text/javascript"></script>
</head>
    <body>

        <div id="input-form" style="border: black">
            <label for="typeSe">
                <select name="typeSe" id="typeSe">
                    <!--                    script-->
                </select>
            </label>
            <label for="amount">
                <input type="number" id="amount" placeholder="amount" name="amount">
            </label>
            <label for="time">
                <select name="time" id="time">
                    <!--                    script-->
                </select>
            </label>
            <button type="submit" onclick="createRecord(typeSe.value,amount.value,time.value)">Submit!</button>
        </div>
        <script src="/js/tf_main.js" type="text/javascript"></script>
    </body>
</html>
