<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TimoFinance Overview</title>
    <script src="/js/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
</head>
    <body>
        <div id="input-form">
            <span>
                <label for="typeSe">
                <select name="typeSe" id="typeSe">
                    <!--                    script-->
                </select>
                </label>
                <label for="amount">
                    <input type="number" id="amount" placeholder="amount" name="amount">
                </label>
                <label for="time">
                    <select name="time" id="time">
                        <!--                    script-->
                    </select>
                </label>
                <button type="submit" onclick="createRecord(typeSe.value,amount.value,time.value)">Submit!</button>
            </span>
        </div>
        <div id="records-table">
            <table class="table">
                <tr>
                    <td class="table-id">ID</td>
                    <td class="table-time">Time</td>
                    <td class="table-amount">Amount</td>
                    <td class="table-income">Income</td>
                    <td class="table-charge">Charge</td>
                </tr>
                <span th:each="record, index: ${records}">
                    <tr>
                        <td class="table-id" th:text="${record.id}"></td>
                        <td class="table-time" th:text="${record.period}"></td>
                        <td class="table-amount" th:text="${record.amount}"></td>
                        <td class="table-income" th:text="${record.income}"></td>
                        <td class="table-charge" th:text="${record.charge}"></td>
                    </tr>
                </span>
            </table>
        </div>
        <script src="/js/tf_main.js" type="text/javascript"></script>
    </body>
</html>
